*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
# Compiled js
spec/javascripts/generated/*.js
spec/javascripts/helpers/*.js
src
# vim files
.swp
